.alertLabel{
    background-color: red;
    display: inline-block;
    width: 100px;
    height: 100px;
}

#checkboxes input[type=checkbox]{
    display: none;
}


#checkboxes input[type=checkbox]:checked + .alertLabel{
    background-color: green;
}